<div class="container mt-5">
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1">Ingredient</span>
	  </div>
	  <input type="text" class="form-control col-2" placeholder="How much" aria-label="dose" aria-describedby="basic-addon1">
	  <input type="text" aria-label="Ingredient" class="form-control" placeholder="Ingredient">
	</div>

	
</div>